define host {
    host_name                  github_api
    use                        generic-host
    alias                      github_api
    address                    localhost
}

define service {
    service_description        Create Repo API
    use                        generic-service
    host_name                  github_api
    check_command              fource_check!/etc/fource/config/checks/github/create.yml
    check_interval             5
    retry_interval             5
    aggregation                github
}

define service {
    service_description        Update Repo API
    use                        generic-service
    host_name                  github_api
    check_command              fource_check!/etc/fource/config/checks/github/update.yml
    check_interval             5
    retry_interval             5
    aggregation                github
}

define service {
    service_description        Read Repo API
    use                        generic-service
    host_name                  github_api
    check_command              fource_check!/etc/fource/config/checks/github/read.yml
    check_interval             5
    retry_interval             5
    aggregation                github
}

define service {
    service_description        Delete Repo API
    use                        generic-service
    host_name                  github_api
    check_command              fource_check!/etc/fource/config/checks/github/delete.yml
    check_interval             5
    retry_interval             5
    aggregation                github
}
